---
import BlogCard from "./ui/BlogCard.astro";

import { client } from "../lib/sanity";
import ImageUrlBuilder  from "@sanity/image-url";

const builder = ImageUrlBuilder(client);
function urlFor(source: any) {
  return builder.image(source)
}

const query = `
  *[_type == "post"] | order(date desc) {
    _id,
    title,
    "slug": slug.current,
    "category": category->title,
    date,
    mainImage {
      asset -> {
        url
      }
    }
  }
  `

const posts = await client.fetch(query)
---

<div class="space-y-10">
    <div class="space-y-4">
        <h2 class="font-bold text-4xl">El Camino del Desarrollador.</h2>
        <p class="text-neutral-500">
            Este blog es un espacio donde comparto mis aprendizajes<br />y
            experiencias en el mundo del software.
        </p>
    </div>
    <div class="grid grid-cols-4 gap-6">
        {
            Array.isArray(posts) && posts.length > 0 && (
                <>
                    {posts.map((post, idx) => {
                        const cyclePosition = idx % 6;
                        const isColSpan2 =
                            cyclePosition === 0 || cyclePosition === 5;
                        const className = isColSpan2 ? "col-span-2" : "";
                        return <BlogCard title={post.title} slug={post.slug} category={post.category}
                                    date={post.date} className={className} mainImage={post.mainImage ? urlFor(post.mainImage).url() : null} />;
                    })}
                </>
            )
        }
    </div>
</div>
