---
import { Image } from 'astro:assets';

interface Props {
    title: string;
    category: string;
    mainImage: string | null;
    slug: string;
    date: string;
    className?: string;
}

const { title, category, mainImage, slug, className } = Astro.props;
---

<a
href={`/post/${slug}`}
    class={`group bg-neutral-300 h-76 rounded-xl relative overflow-hidden cursor-pointer ${className}`}
>
    <div class="h-full w-full absolute">
        {mainImage && (
            <Image
                src={mainImage}
                alt={title}
                width={400}
                height={300}
                class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-500"
            />
        )}
    </div>
    <div class="p-8 space-y-2 text-white absolute">
        <p class="text-xs font-light">{category}</p>
        <p class="font-bold text-3xl w-full max-w-sm">
            {title}
        </p>
    </div>
</a>
